
html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
}
#title {
  font-family: "Nexus Typewriter Pro", sans-serif, serif;
  line-height: 1em;
  position: fixed;
  width: 200px;
  height: 150px;
  top: 25px;
  left: 50px;
}
.container {
  position:fixed;
  height: 100%;
  width: 100%;
}

.filler {
  height: 25%;
}
.contents {
  width: 100%;
  min-height: 150px;
  height: 75%;
}
.information {
  height: 60%;
}

.navbar {
  height: 40%;
}
#display {
  font-family: "Proxima Nova Medium", sans-serif, serif;
  font-size: 1em;
}

table {
  height: 100%;
  width: 100%;
}
a { color: inherit; }

tr {
  height: 33.2%;
  width: 100%;
}
td {
  width: 19%;
  text-align: center;
  vertical-align: middle;

}
