
html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
}
#title {
  font-family: "Nexus Typewriter Pro", sans-serif, serif;
  font-size: 1.2em;
  line-height: 0.8em;
  position: fixed;
  width: 250px;
  height: 100px;
  top: 20px;
  left: 40px;
}
.container {
  position:fixed;
  height: 100%;
  width: 100%;
}

.contents {
  width: 100%;
  min-height: 150px;
  height: 70vh;
}
.information {
  height: 70%;
  display: flex;
  align-content: stretch;
}
.filler {
  height: 30%;
}

.navbar {
  height: 30vh;
  margin-top: 10vh;
}
#display {
  font-family: "Proxima Nova Medium", sans-serif, serif;
  font-size: 1em;
}

table {
  height: 100%;
  width: 100%;
}
a { color: inherit; }
a:hover { COLOR: #999999 }
tr {
  height: 33.2%;
  width: 100%;
}
td {
  width: 19%;
  text-align: center;
  vertical-align: middle;
}
