
html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
}
#title {
  font-family: "Nexus Typewriter Pro", sans-serif, serif;
  font-size: 1.5em;
  line-height: 1em;
  position: fixed;
  width: 250px;
  height: 150px;
  top: 20px;
  left: 40px;
}
.container {
  position:fixed;
  height: 100%;
  width: 100%;
}

.filler {
  height: 30%;
}
.contents {
  width: 100%;
  min-height: 150px;
  height: 70%;
}
.information {
  height: 50%;
}

.navbar {
  height: 50%;
}
#display {
  font-family: "Proxima Nova Medium", sans-serif, serif;
  font-size: 1em;
}

table {
  height: 100%;
  width: 100%;
}
a { color: inherit; }

tr {
  height: 33.2%;
  width: 100%;
}
td {
  width: 19%;
  text-align: center;
  vertical-align: middle;
}
