@font-face {
  font-family: Nexus;
  src: url(NexusTypewriterWeb.ttf);
}

@font-face {
  font-family: AvenirBook;
  src: url(AvenirBook.ttf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(AvenirBlack.ttf);
}


html, body {
  width: 100%;
  min-width: 700px;
  height: 90%;
  font-family: AvenirBook, helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

.Sidebar {
  width: 160px;
  height: 100%;
  float: left;
  display: inline;
  padding-left: 50px;
}

#title {
  margin-top: 20px;
  margin-bottom: 30px;
  height: 85px;
  font-family: Nexus, helvetica, sans-serif;

}
#title:hover {
  color: #999999;
}

.subcontainer {
  margin-top: 20px;
  height: 30px;
  width: 100%;
  font-family: AvenirBlack, helvetica, sans-serif;
}

.flavortext {
  margin-top: 30px;
  height: 160px;
  width: 100%;
}

.flavorflavortext {
  text-align:right;
  margin-top: 40px;
  height: 30px;
  margin-left: 30%;
  width: 60%;
}





.Content {
  margin-left: 100px;
  width: -webkit-calc(95% - 350px);
  width: calc(95% - 350px);
  min-width: 300px;
  height: 100%;
  float: left;
  display: inline;

}

.Topbar {
  width: 100%;
  height: 105px;
}

.TopbarContainer {
  width: 125px;
  margin-right: 15px;
  margin-top: 30px;
  height: 30px;
  float: left;

}

.ImageContainer {
  width: 100%;
  height: -webkit-calc(100% - 105px);
  height: calc(100% - 105px);

}

img {
  object-fit:contain;
  object-position: left;
  width: 100%;
  height: 100%;
}


a {
  text-decoration:none;
  color: inherit;

}
a:hover { COLOR: #999999 }

.selected {
  color: #4D4DFF
}
.selector_hyperlink:hover {
  color: #8D8DFF
}
