html, body {
  min-height: 100%;
  width: 100%;
  margin: 0;
}

#title {
  font-family: "Nexus Typewriter Pro", sans-serif, serif;
  font-size: 1.5em;
  line-height: 1em;
  position: fixed;
  width: 250px;
  height: 150px;
  top: 20px;
  left: 40px;
}

.container {
  position: fixed;
  height: 100%;
  width: 100%;
}

.filler1 {
  height: 15%;
}

.filler2 {
  height: 15%;
}

.contents {
  min-height: 250px;
  height: 70%;
}

#display {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
}

tr {
  height: 33.2%;
  width: 100%;
}

td {
  width: 33%;
  text-align: center;
  vertical-align: middle;
  font-family: "Proxima Nova Medium", sans-serif, serif;
  font-size: 2.4em;
}

.sidefilter {
  width: 1%;
}
