#contentDisplay {
  font-family: "Avenir Next", sans-serif, serif;
  font-size: 2vw;
}

#contentDisplay tr {
  height: 16.6%;
  width: 100%;
}
#contentDisplay tr td {
  width: 33%;
  text-align: center;
  vertical-align: middle;
}


#photo {
  color: #999999;
}
