
html, body {
  height: auto;
  width: 100%;
  margin: 0;


}
#title {
  font-family: "Nexus Typewriter Pro", sans-serif, serif;
  font-size: 1em;
  line-height: 0.66em;
  position: fixed;
  width: 166px;
  height: 100px;
  top: 20px;
  left: 40px;
}
.container {
  height: auto;

  width: 100%;
}

.contents {
  width: 100%;

}

.empty {
  height: 80vh;
}

img {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.navbar {
  height: 20vh;
}

.filler {
  height: 60%;
}
#display {
  font-family: "Proxima Nova Medium", sans-serif, serif;
  font-size: 1em;
}

table {
  height: 50%;
  width: 100%;
}
a { color: inherit; }
a:hover { COLOR: #999999 }

tr {
  height: 15%;
  width: 100%;
}
td {
  width: 19%;
  text-align: center;
  vertical-align: middle;
}
